body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #357cff;
}

/* .container-kata-awal {
  background-color: black;
} */

.container-judul {
  margin: 180px 840px 0px 30px;
  color: #f1f1f1;
  text-align: center;
  /* background-color: brown; */
}

.h1-judul {
  font-size: 50px;
}

.p-judul {
  font-size: 20px;
}

.p-tombol {
  margin: 30px 180px 20px 180px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
}

.p-tombol:hover {
  background-color: #999;
}